# Environment file configuration

SLACK_BOT_TOKEN=""
SLACK_APP_TOKEN=""

JIRA_HOST=""
JIRA_STRICT_GDPR=true    # must explicitly be "true" lest will be treated as false by the config extractor
JIRA_AUTH_EMAIL=""
JIRA_AUTH_API_TOKEN=""
